{% extends "base.html" %}
{% load static %}
{% block content %}
	<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="{% url 'home' %}">Home </a></li>
											<li ><a href="{% url 'doctors' %}">Doctors</a></li>
											<li ><a href="{% url 'products' %}">Medicines</a></li>
											<li><a href="{% url 'equipments' %}">Equipments</a></li>
											<li><a href="{% url 'beds' %}">ICU Beds </a></li>
											<li><a href="{% url 'donors' %}">Donors </a></li>
											<li>
								<div class="get-quote" >
									{% if user.is_authenticated %}
									     {% if user.is_superuser %}
									        <a href="{% url 'admin:index' %}"  class="btn" style="color: white; padding: 10px 10px 10px 10px;">Admin Panel</a><br>
									     {% else %}
									         <a href="{% url 'user_profile' %}" class="btn"  style="color: white; padding: 10px 10px 10px 10px;">{{ user.username }}</a><br>
									     {% endif %}
									{% else %}
									   <a href="{% url 'login' %}" class="btn" style="color: white; padding: 10px 10px 10px 10px;">Login</a><br>
									{% endif %}
								</div>

											</li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
<!--LOGIN BAr Start-->


							<div class="col-lg-2 col-12">
								<div class="get-quote">
									{% if user.is_authenticated %}
									     {% if user.is_superuser %}
									        <a href="{% url 'logout' %}" class="btn btn-sm" >Signout</a>
									     {% else %}

									         <a href="{% url 'logout' %}" class="btn btn-sm" >Sign out</a>
									     {% endif %}
									{% else %}
									   <a href="{% url 'register' %}" class="btn" >Sign-up</a>
									{% endif %}
								</div>
                            </div>



<!--                            <div class="col-lg-2 col-12">-->
<!--								<div class="get-quote">-->
<!--									{% if user.is_authenticated %}-->
<!--									     {% if user.is_superuser %}-->
<!--									        <a href="{% url 'admin:index' %}"  >Admin Panel</a><br>-->
<!--									        <a href="{% url 'logout' %}" class="btn btn-sm" >Signout</a>-->
<!--									     {% else %}-->
<!--									         <a href="{% url 'user_profile' %}" class="btn" >{{ user.username }}</a><br>-->
<!--									         <a href="{% url 'logout' %}" class="btn btn-sm" >Sign out</a>-->
<!--									     {% endif %}-->
<!--									{% else %}-->
<!--									   <a href="{% url 'login' %}" class="btn" >Login</a><br>-->
<!--									   <a href="{% url 'register' %}" class="btn" >Sign-up</a>-->
<!--									{% endif %}-->
<!--								</div>-->
<!--                            </div>-->

<!--LOGIN BAr End-->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->

<div style="height: 500px; margin-top: 100px" >
{% block extra-styles %}
<link rel="stylesheet" href="{% static 'css/checkout_card.css' %}" />
{% endblock %}
<!--Content Start here-->

<div class="container">
  {% if cart_items1 %}
  <table class="cart-table">
    <thead>
      <tr>
        <th>Product</th>
        <th>Price</th>
        <th>Quantity</th>
        <th>Total</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <h1>Your Shopping Cart</h1><br>
      {% for item1 in cart_items1 %}
          <tr>
            <td>{{ item1.accessory1.e_name }}</td>
            <td>{{ item1.accessory1.e_cost }} Tk</td>
            <td class="cart-actions">
              <form method="post" action="{% url 'update_cart1' item1.accessory1.id %}">
                {% csrf_token %}
                <input
                  type="number"
                  name="quantity1"
                  value="{{ item1.quantity1 }}"
                  min="1"
                />
                <button type="submit" class="update-button">Update</button>
              </form>
            </td>
            <td>{{ item1.total_cost1 }} Tk</td>
            <td class="cart-actions">
              <form method="post" action="{% url 'remove_from_cart1' item1.accessory1.id %}">
                {% csrf_token %}
                <button type="submit" class="remove-button">Remove</button>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

    <div class="cart-total">
      <strong>Total: {{ total_cost1 }} Tk</strong>
    </div>

    <div class="checkout-button"><br>
      <a href="{% url 'checkout1' %}">Checkout</a>
    </div>
</div>
  {% else %}
<div style="height: 500px;  display: flex; justify-content: center; ">
    <div class="container" style="height: 200px; width: 300px; margin: auto; display: flex; justify-content: center; align-items: center; text-align: center; background-color: #faeeee;">
       <h3> <p style="color: red;">Your shopping cart is empty</p><h3>
    </div>
</div>
  {% endif %}
</div>

{% endblock %}