{% extends 'base.html' %}
{% load static %}

<!--{% block extra-styles %}-->
<!--    <link rel="stylesheet" href="{% static 'css/create_appointment.css' %}">-->
<!--{% endblock %}-->

{% block content %}
<!-- Header Inner -->
			<div class="header-inner">
				<div class="container">
					<div class="inner">
						<div class="row">
							<div class="col-lg-3 col-md-3 col-12">
								<!-- Start Logo -->
								<div class="logo">
									<a href="{% url 'home' %}"><img src="{% static 'img/logo.png' %}" alt="#"></a>
								</div>
								<!-- End Logo -->
								<!-- Mobile Nav -->
								<div class="mobile-nav"></div>
								<!-- End Mobile Nav -->
							</div>
							<div class="col-lg-7 col-md-9 col-12">
								<!-- Main Menu -->
								<div class="main-menu">
									<nav class="navigation">
										<ul class="nav menu">
											<li><a href="{% url 'home' %}">Home </a></li>
											<li ><a href="{% url 'doctors' %}">Doctors</a></li>
											<li ><a href="{% url 'products' %}">Medicines</a></li>
											<li><a href="{% url 'equipments' %}">Equipments</a></li>
											<li><a href="{% url 'beds' %}">ICU Beds </a></li>
											<li><a href="{% url 'donors' %}">Donors </a></li>
											<li>
								<div class="get-quote" >
									{% if user.is_authenticated %}
									     {% if user.is_superuser %}
									        <a href="{% url 'admin:index' %}"  class="btn" style="color: white; padding: 10px 10px 10px 10px;">Admin Panel</a><br>
									     {% else %}
									         <a href="{% url 'user_profile' %}" class="btn"  style="color: white; padding: 10px 10px 10px 10px;">{{ user.username }}</a><br>
									     {% endif %}
									{% else %}
									   <a href="{% url 'login' %}" class="btn" style="color: white; padding: 10px 10px 10px 10px;">Login</a><br>
									{% endif %}
								</div>

											</li>
										</ul>
									</nav>
								</div>
								<!--/ End Main Menu -->
							</div>
<!--LOGIN BAr Start-->


							<div class="col-lg-2 col-12">
								<div class="get-quote">
									{% if user.is_authenticated %}
									     {% if user.is_superuser %}
									        <a href="{% url 'logout' %}" class="btn btn-sm" >Signout</a>
									     {% else %}

									         <a href="{% url 'logout' %}" class="btn btn-sm" >Sign out</a>
									     {% endif %}
									{% else %}
									   <a href="{% url 'register' %}" class="btn" >Sign-up</a>
									{% endif %}
								</div>
                            </div>



<!--                            <div class="col-lg-2 col-12">-->
<!--								<div class="get-quote">-->
<!--									{% if user.is_authenticated %}-->
<!--									     {% if user.is_superuser %}-->
<!--									        <a href="{% url 'admin:index' %}"  >Admin Panel</a><br>-->
<!--									        <a href="{% url 'logout' %}" class="btn btn-sm" >Signout</a>-->
<!--									     {% else %}-->
<!--									         <a href="{% url 'user_profile' %}" class="btn" >{{ user.username }}</a><br>-->
<!--									         <a href="{% url 'logout' %}" class="btn btn-sm" >Sign out</a>-->
<!--									     {% endif %}-->
<!--									{% else %}-->
<!--									   <a href="{% url 'login' %}" class="btn" >Login</a><br>-->
<!--									   <a href="{% url 'register' %}" class="btn" >Sign-up</a>-->
<!--									{% endif %}-->
<!--								</div>-->
<!--                            </div>-->

<!--LOGIN BAr End-->
						</div>
					</div>
				</div>
			</div>
			<!--/ End Header Inner -->
		</header>
		<!-- End Header Area -->

<div style="height: 500px;">
<div class="main-container">
    <div class="container">
        <h1 style="color: rgba(222,22,22,0.99);">Booking form</h1>
            {% if bed.available_booking_date %}
                <p style="color: aqua; text-align:center;">You can only choose date's after the bed is available</p><br>
            {% endif %}
        <h2>Name of the Hospital: {{ bed.hospital_name }}</h2>
        <form method="post" action="">
            {% csrf_token %}
            <input type="hidden" name="bed_id" value="{{ bed.id }}">
            {% if bed.available_booking_date %}
                <p><strong>Bed is available after:</strong> {{ bed.available_booking_date }}</p><br>
            {% endif %}

            <div class="form-group">
                <label for="booking_date">Select Booking Date:</label>
                <input type="date" id="booking_date" name="booking_date" required>
            </div>

            <div class="form-group">
                <label for="description1">Disease description:</label>
                <textarea id="description1" name="description1" rows="7" cols="50" maxlength="1000" required></textarea>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
</div>

{% endblock %}
