.search-container {
    margin: 20px 0px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-container form {
    font-family: 'Mooli', sans-serif;
    display: flex;
    align-items: center;
}

.search-container input[type="text"] {
    font-family: 'Mooli', sans-serif;
    padding: 15px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none; /* Remove input field border on focus */
}

.search-container button {
    font-family: 'Mooli', sans-serif;
    padding: 15px 30px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #0056b3;
}
